<div class="container">
  <div class="container-panel">
    <app-login-register-title class="container-panel-title" content="Rejstracja"> </app-login-register-title>
    <div class="container-panel-inputs">
      <app-login-register-input class="container-panel-inputs-input" content="nazwa"></app-login-register-input>
      <app-login-register-input class="container-panel-inputs-input" type="password" content="hasło"></app-login-register-input>
      <app-login-register-input class="container-panel-inputs-input" type="password" content="powtórz hasło"></app-login-register-input>
    </div>
    <div class="container-panel-inputs">
      <app-login-register-btn content="zarejstruj"></app-login-register-btn>
      <app-login-register-span text1="masz już konto?" text2="zaloguj się" link="/logowanie"></app-login-register-span>
    </div>
  </div>

</div>


