<div class="container">
  <div class="container-panel">
    <app-login-register-title class="container-panel-title" content="Logowanie"> </app-login-register-title>
    <div class="container-panel-inputs">
      <app-login-register-input class="container-panel-inputs-input" content="nazwa"></app-login-register-input>
      <app-login-register-input class="container-panel-inputs-input" type="password" content="hasło"></app-login-register-input>
    </div>
    <div class="container-panel-inputs">
      <app-login-register-btn content="zaloguj"></app-login-register-btn>
      <app-login-register-span text1="nie masz jeszcze konta?" text2="zarejstruj się" link="/rejstracja"></app-login-register-span>
    </div>
  </div>

</div>

